@charset "utf-8";
/* CSS Document */

body {
	padding: 0 3%;
	}
#anim_frame{
	background-color: #09c;
	width: 550px;
	height: 350px;
	overflow: hidden;
	border: solid black 1px;
}
#roomba{
	padding: 1rem 0 0 7rem;
}
h3{
	padding-left: 3.5rem;
}
p{
	padding: 0 2rem 0 2rem;
}
#overhead{
	padding: 0 0 0 1rem;
	top: -25px;
	left: 50px;
	position: relative;
	animation: overhead 10s ease 0s forwards;
}

@keyframes overhead{
	0% {
		top: -10px;
		left: 10px;
	}
	20% {
		top: -10px;
		left: 80px;
		transform: rotate(90deg);
	}
	40% {
		top: -10px;
		left: 150px;
		transform: rotate(90deg);
	}
	50%{
		top: -10px;
		left: 350px;
		transform: rotate(90deg);
	}
	100%{
		top: -10px;
		left: 600px;
		transform: rotate(90deg);
	}
}
